<?xml version="1.0" encoding="utf-8"?>
<!--
    dg5fs_right.urdf
    Licensed under the BSD-3-Clause
    Copyright (c) 2025 Tesollo Inc.
    See LICENSE file for details.

    Reference:
    * https://tesollo.com/
-->

<robot name="dg5fs_right">
  <link name="rl_dg_mount">
    <inertial>
      <origin xyz="5.5737E-18 4.5832E-18 0.0051391" rpy="0 0 0" />
      <mass value="0.059207" />
      <inertia
        ixx="1.8702E-05"
        ixy="-2.0545E-20"
        ixz="9.2941E-20"
        iyy="1.5982E-05"
        iyz="-1.9314E-21"
        izz="3.2559E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_mount.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_mount.STL" />
      </geometry>
    </collision>
  </link>

  <link name="rl_dg_base">
    <inertial>
      <origin xyz="0.0010399 0.0034114 0.050972" rpy="0 0 0" />
      <mass value="0.53334" />
      <inertia
        ixx="0.00056518"
        ixy="4.4836E-06"
        ixz="-1.5654E-05"
        iyy="0.00043128"
        iyz="-4.2411E-05"
        izz="0.00026712" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_base.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_base" type="fixed">
    <origin xyz="0 0 0.005" rpy="0 0 0" />
    <parent link="rl_dg_mount" />
    <child link="rl_dg_base" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rl_dg_1_1">
    <inertial>
      <origin xyz="0.0079476 1.264E-09 -0.0060294" rpy="0 0 0" />
      <mass value="0.019551" />
      <inertia
        ixx="1.4061E-06"
        ixy="1.1279E-12"
        ixz="-5.3967E-07"
        iyy="3.1324E-06"
        iyz="1.3606E-12"
        izz="2.4065E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_1_1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_1_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_1_1" type="revolute">
    <origin xyz="0.0017112 0.018 0.0348" rpy="0 0 0" />
    <parent link="rl_dg_base" />
    <child link="rl_dg_1_1" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2617993877991494" upper="0.9599310885968813" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_1_2">
    <inertial>
      <origin xyz="-0.00028858 0.016358 0.0003271" rpy="0 0 0" />
      <mass value="0.027972" />
      <inertia
        ixx="4.1838E-06"
        ixy="1.7112E-07"
        ixz="-2.6499E-09"
        iyy="1.4083E-06"
        iyz="1.2161E-07"
        izz="4.2464E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_1_2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_1_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_1_2" type="revolute">
    <origin xyz="0.026199 0 0" rpy="0 0 0" />
    <parent link="rl_dg_1_1" />
    <child link="rl_dg_1_2" />
    <axis xyz="0 0 1" />
    <limit lower="-2.670353755551324" upper="0.0" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_1_3">
    <inertial>
      <origin xyz="4.469E-05 0.013765 1.7435E-09" rpy="0 0 0" />
      <mass value="0.023354" />
      <inertia
        ixx="2.8638E-06"
        ixy="2.5193E-07"
        ixz="3.0973E-12"
        iyy="1.1425E-06"
        iyz="-5.7753E-13"
        izz="3.1133E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_1_3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_1_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_1_3" type="revolute">
    <origin xyz="0 0.0381 0" rpy="0 0 0" />
    <parent link="rl_dg_1_2" />
    <child link="rl_dg_1_3" />
    <axis xyz="1 0 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_1_4">
    <inertial>
      <origin xyz="0.00036368 0.014412 -1.959E-06" rpy="0 0 0" />
      <mass value="0.025158" />
      <inertia
        ixx="2.9598E-06"
        ixy="1.038E-07"
        ixz="-1.9082E-11"
        iyy="1.1629E-06"
        iyz="5.9286E-10"
        izz="3.1116E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_1_4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_1_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_1_4" type="revolute">
    <origin xyz="0 0.0334 0" rpy="0 0 0" />
    <parent link="rl_dg_1_3" />
    <child link="rl_dg_1_4" />
    <axis xyz="1 0 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_1_tip">
    <inertial>
      <origin xyz="1.12590417323047E-06 0.00726373161517341 -0.000809428852872704" rpy="0 0 0" />
      <mass value="0.00696488838268988" />
      <inertia
        ixx="2.27754436924435E-07"
        ixy="4.83721909188288E-11"
        ixz="-8.30305284087122E-11"
        iyy="3.16589711029356E-07"
        iyz="2.22790162113528E-08"
        izz="2.99344076518557E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_1_tip.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_1_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_1_tip" type="fixed">
    <origin xyz="0 0.0284 0" rpy="0 0 0" />
    <parent link="rl_dg_1_4" />
    <child link="rl_dg_1_tip" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rl_dg_2_1">
    <inertial>
      <origin xyz="-0.000483623019594278 0.000286406479148436 0.0198288346981841" rpy="0 0 0" />
      <mass value="0.031951639349627" />
      <inertia
        ixx="2.88882018462944E-06"
        ixy="-9.16432378007622E-08"
        ixz="-1.91087285988992E-07"
        iyy="4.33906033266717E-06"
        iyz="-3.95473802977967E-08"
        izz="2.99364418256175E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_2_1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_2_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_2_1" type="revolute">
    <origin xyz="0.0017 0.028 0.08865" rpy="0 0 0" />
    <parent link="rl_dg_base" />
    <child link="rl_dg_2_1" />
    <axis xyz="1 0 0" />
    <limit lower="-0.4886921905584123" upper="0.8203047484373349" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_2_2">
    <inertial>
      <origin xyz="-1.6971719290354E-09 4.4689374413192E-05 0.0196345226917649" rpy="0 0 0" />
      <mass value="0.0233542259220063" />
      <inertia
        ixx="3.113261776931E-06"
        ixy="-3.09388295462577E-12"
        ixz="-5.90239056855865E-13"
        iyy="2.86375925683678E-06"
        iyz="-2.51930343181702E-07"
        izz="1.14254596246969E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_2_2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_2_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_2_2" type="revolute">
    <origin xyz="0.0126 0 0.02415" rpy="0 0 0" />
    <parent link="rl_dg_2_1" />
    <child link="rl_dg_2_2" />
    <axis xyz="0 1 0" />
    <limit lower="-0.0" upper="2.199114857512855" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_2_3">
    <inertial>
      <origin xyz="-1.69717192556595E-09 4.46893744131954E-05 0.0196345226917649" rpy="0 0 0" />
      <mass value="0.0233542259220063" />
      <inertia
        ixx="3.11326177693099E-06"
        ixy="-3.09388295570785E-12"
        ixz="-5.90239056646637E-13"
        iyy="2.86375925683678E-06"
        iyz="-2.51930343181702E-07"
        izz="1.14254596246969E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_2_3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_2_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_2_3" type="revolute">
    <origin xyz="0 0 0.0334" rpy="0 0 0" />
    <parent link="rl_dg_2_2" />
    <child link="rl_dg_2_3" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_2_4">
    <inertial>
      <origin xyz="1.02159048321476E-08 -0.000684910271510061 0.0113518799344413" rpy="0 0 0" />
      <mass value="0.0116030403153168" />
      <inertia
        ixx="8.24968620067612E-07"
        ixy="-7.00525585505731E-13"
        ixz="-2.85299120213932E-12"
        iyy="6.07822468953465E-07"
        iyz="-8.65626198475972E-08"
        izz="6.10342345396592E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_2_4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_2_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_2_4" type="revolute">
    <origin xyz="0 0 0.0334" rpy="0 0 0" />
    <parent link="rl_dg_2_3" />
    <child link="rl_dg_2_4" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_2_tip">
    <inertial>
      <origin xyz="-0.000809428853773383 1.12590873193458E-06 0.00726373161151533" rpy="0 0 0" />
      <mass value="0.0069648883826899" />
      <inertia
        ixx="2.99344076518559E-07"
        ixy="-8.30305284073452E-11"
        ixz="2.22790162113546E-08"
        iyy="2.27754436924437E-07"
        iyz="4.83721909157599E-11"
        izz="3.16589711029358E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_2_tip.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_2_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_2_tip" type="fixed">
    <origin xyz="0 0 0.0175" rpy="0 0 0" />
    <parent link="rl_dg_2_4" />
    <child link="rl_dg_2_tip" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rl_dg_3_1">
    <inertial>
      <origin xyz="-0.000483623019594273 0.000286406479148437 0.0198288346981841" rpy="0 0 0" />
      <mass value="0.031951639349627" />
      <inertia
        ixx="2.88882018462944E-06"
        ixy="-9.16432378007618E-08"
        ixz="-1.91087285988991E-07"
        iyy="4.33906033266717E-06"
        iyz="-3.95473802977953E-08"
        izz="2.99364418256175E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_3_1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_3_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_3_1" type="revolute">
    <origin xyz="0.0017 0.005 0.09365" rpy="0 0 0" />
    <parent link="rl_dg_base" />
    <child link="rl_dg_3_1" />
    <axis xyz="1 0 0" />
    <limit lower="-0.8552113334772214" upper="0.8203047484373349" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_3_2">
    <inertial>
      <origin xyz="-1.6971719290354E-09 4.46893744131937E-05 0.0196345226917649" rpy="0 0 0" />
      <mass value="0.0233542259220063" />
      <inertia
        ixx="3.113261776931E-06"
        ixy="-3.09388295445175E-12"
        ixz="-5.90239057165939E-13"
        iyy="2.86375925683678E-06"
        iyz="-2.51930343181702E-07"
        izz="1.14254596246969E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_3_2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_3_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_3_2" type="revolute">
    <origin xyz="0.0126 0 0.02415" rpy="0 0 0" />
    <parent link="rl_dg_3_1" />
    <child link="rl_dg_3_2" />
    <axis xyz="0 1 0" />
    <limit lower="0.0" upper="2.2689280275926285" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_3_3">
    <inertial>
      <origin xyz="-1.69717192556595E-09 4.46893744131885E-05 0.0196345226917649" rpy="0 0 0" />
      <mass value="0.0233542259220063" />
      <inertia
        ixx="3.11326177693099E-06"
        ixy="-3.09388295465933E-12"
        ixz="-5.90239056764169E-13"
        iyy="2.86375925683678E-06"
        iyz="-2.51930343181702E-07"
        izz="1.14254596246969E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_3_3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_3_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_3_3" type="revolute">
    <origin xyz="0 0 0.0334" rpy="0 0 0" />
    <parent link="rl_dg_3_2" />
    <child link="rl_dg_3_3" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_3_4">
    <inertial>
      <origin xyz="1.02159048269435E-08 -0.00068491027151006 0.0113518799344414" rpy="0 0 0" />
      <mass value="0.0116030403153168" />
      <inertia
        ixx="8.24968620067613E-07"
        ixy="-7.00525585495874E-13"
        ixz="-2.8529912022115E-12"
        iyy="6.07822468953466E-07"
        iyz="-8.65626198475972E-08"
        izz="6.10342345396594E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_3_4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_3_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_3_4" type="revolute">
    <origin xyz="0 0 0.0334" rpy="0 0 0" />
    <parent link="rl_dg_3_3" />
    <child link="rl_dg_3_4" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_3_tip">
    <inertial>
      <origin xyz="-0.0008094288537734 1.12590873189555E-06 0.00726373161151528" rpy="0 0 0" />
      <mass value="0.00696488838268988" />
      <inertia
        ixx="2.99344076518554E-07"
        ixy="-8.30305284083454E-11"
        ixz="2.22790162113553E-08"
        iyy="2.27754436924426E-07"
        iyz="4.83721909208747E-11"
        izz="3.16589711029363E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_3_tip.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_3_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_3_tip" type="fixed">
    <origin xyz="0 0 0.0175" rpy="0 0 0" />
    <parent link="rl_dg_3_4" />
    <child link="rl_dg_3_tip" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rl_dg_4_1">
    <inertial>
      <origin xyz="-0.000483623019594275 0.000286406479148439 0.0198288346981841" rpy="0 0 0" />
      <mass value="0.031951639349627" />
      <inertia
        ixx="2.88882018462944E-06"
        ixy="-9.16432378007613E-08"
        ixz="-1.91087285988992E-07"
        iyy="4.33906033266717E-06"
        iyz="-3.95473802977983E-08"
        izz="2.99364418256175E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_4_1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_4_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_4_1" type="revolute">
    <origin xyz="0.0017 -0.018 0.08565" rpy="0 0 0" />
    <parent link="rl_dg_base" />
    <child link="rl_dg_4_1" />
    <axis xyz="1 0 0" />
    <limit lower="-0.8377580409572782" upper="0.4014257279586958" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_4_2">
    <inertial>
      <origin xyz="-1.6971719290354E-09 4.46893744131885E-05 0.0196345226917649" rpy="0 0 0" />
      <mass value="0.0233542259220063" />
      <inertia
        ixx="3.113261776931E-06"
        ixy="-3.09388295516396E-12"
        ixz="-5.90239056563855E-13"
        iyy="2.86375925683678E-06"
        iyz="-2.51930343181703E-07"
        izz="1.14254596246969E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_4_2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_4_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_4_2" type="revolute">
    <origin xyz="0.0126 0 0.02415" rpy="0 0 0" />
    <parent link="rl_dg_4_1" />
    <child link="rl_dg_4_2" />
    <axis xyz="0 1 0" />
    <limit lower="0.0" upper="2.2165681500327987" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_4_3">
    <inertial>
      <origin xyz="-1.6971719290354E-09 4.4689374413192E-05 0.0196345226917649" rpy="0 0 0" />
      <mass value="0.0233542259220063" />
      <inertia
        ixx="3.11326177693099E-06"
        ixy="-3.09388295502104E-12"
        ixz="-5.90239056768828E-13"
        iyy="2.86375925683677E-06"
        iyz="-2.51930343181701E-07"
        izz="1.14254596246969E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_4_3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_4_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_4_3" type="revolute">
    <origin xyz="0 0 0.0334" rpy="0 0 0" />
    <parent link="rl_dg_4_2" />
    <child link="rl_dg_4_3" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_4_4">
    <inertial>
      <origin xyz="1.02159048286782E-08 -0.000684910271510061 0.0113518799344414" rpy="0 0 0" />
      <mass value="0.0116030403153168" />
      <inertia
        ixx="8.24968620067612E-07"
        ixy="-7.00525585549982E-13"
        ixz="-2.85299120230119E-12"
        iyy="6.07822468953466E-07"
        iyz="-8.65626198475972E-08"
        izz="6.10342345396593E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_4_4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_4_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_4_4" type="revolute">
    <origin xyz="0 0 0.0334" rpy="0 0 0" />
    <parent link="rl_dg_4_3" />
    <child link="rl_dg_4_4" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_4_tip">
    <inertial>
      <origin xyz="-0.000809428853773464 1.12590873193111E-06 0.00726373161151539" rpy="0 0 0" />
      <mass value="0.00696488838268986" />
      <inertia
        ixx="2.99344076518555E-07"
        ixy="-8.3030528409151E-11"
        ixz="2.22790162113521E-08"
        iyy="2.27754436924433E-07"
        iyz="4.83721909173057E-11"
        izz="3.16589711029355E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_4_tip.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_4_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_4_tip" type="fixed">
    <origin xyz="0 0 0.0175" rpy="0 0 0" />
    <parent link="rl_dg_4_4" />
    <child link="rl_dg_4_tip" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rl_dg_5_1">
    <inertial>
      <origin xyz="-0.00283276292061653 -0.0214777691533358 0.0106423487682444" rpy="0 0 0" />
      <mass value="0.0714093215767921" />
      <inertia
        ixx="1.66976400263056E-05"
        ixy="2.21998646884423E-07"
        ixz="7.5049017238467E-07"
        iyy="1.82972034804748E-05"
        iyz="1.42079385922096E-06"
        izz="8.75762457024766E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_5_1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_5_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_5_1" type="revolute">
    <origin xyz="0.0128 -0.01805 0.0414" rpy="0 0 0" />
    <parent link="rl_dg_base" />
    <child link="rl_dg_5_1" />
    <axis xyz="0 0 1" />
    <limit lower="-0.0" upper="1.7453292519943295" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_5_2">
    <inertial>
      <origin xyz="-0.000558282016122826 -0.000569417042121281 0.0135827312085666" rpy="0 0 0" />
      <mass value="0.0142353073608563" />
      <inertia
        ixx="1.23995294706083E-06"
        ixy="4.52404831425836E-09"
        ixz="-1.04300451310336E-07"
        iyy="1.24018424259586E-06"
        iyz="1.0526942639703E-07"
        izz="8.4013024681123E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_5_2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_5_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_5_2" type="revolute">
    <origin xyz="0 -0.02445 0.0307" rpy="0 0 0" />
    <parent link="rl_dg_5_1" />
    <child link="rl_dg_5_2" />
    <axis xyz="1 0 0" />
    <limit lower="-0.13962634015954636" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_5_3">
    <inertial>
      <origin xyz="1.71101390174233E-09 4.46896356750409E-05 0.0137654770023873" rpy="0 0 0" />
      <mass value="0.023354226877998" />
      <inertia
        ixx="3.11326188717808E-06"
        ixy="3.0774450827986E-12"
        ixz="-5.84844905818607E-13"
        iyy="2.86375930200466E-06"
        iyz="2.51930400557564E-07"
        izz="1.14254598339881E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_5_3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_5_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_5_3" type="revolute">
    <origin xyz="0 0 0.0272" rpy="0 0 0" />
    <parent link="rl_dg_5_2" />
    <child link="rl_dg_5_3" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_5_4">
    <inertial>
      <origin xyz="-1.95903447631172E-06 0.000363683261752887 0.0144120368336844" rpy="0 0 0" />
      <mass value="0.0251579219174648" />
      <inertia
        ixx="3.11158579313836E-06"
        ixy="-1.91062106640479E-11"
        ixz="5.92845014156724E-10"
        iyy="2.95982652431784E-06"
        iyz="1.03801807766098E-07"
        izz="1.16286501479396E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_5_4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_5_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_5_4" type="revolute">
    <origin xyz="0 0 0.0334" rpy="0 0 0" />
    <parent link="rl_dg_5_3" />
    <child link="rl_dg_5_4" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="7.5" velocity="3.141592653589793"/>
  </joint>

  <link name="rl_dg_5_tip">
    <inertial>
      <origin xyz="-0.00080942885377339 1.12590873198315E-06 0.00726373161151539" rpy="0 0 0" />
      <mass value="0.00696488838268994" />
      <inertia
        ixx="2.99344076518561E-07"
        ixy="-8.30305284096797E-11"
        ixz="2.22790162113554E-08"
        iyy="2.27754436924439E-07"
        iyz="4.83721909202159E-11"
        izz="3.16589711029359E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/visual/rl_dg_5_tip.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dg_description/meshes/dg5fs_right/collision/rl_dg_5_tip.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rj_dg_5_tip" type="fixed">
    <origin xyz="0 0 0.0284" rpy="0 0 0" />
    <parent link="rl_dg_5_4" />
    <child link="rl_dg_5_tip" />
    <axis xyz="0 0 0" />
  </joint>
</robot>